body{box-sizing: border-box;}
.header{display: flex;height: 50px; align-items: center; justify-content: space-between;padding: 8px;
    border: 1px solid black;
    background-color: aliceblue;}
.navItems{
    display: flex; 
    margin: 0;
    padding: 0;
}
.navItems > li {margin: 10px; padding:10px; list-style-type: none;}
.nav-header{
    height: 100%;
    display: flex;
    align-items: center;}
.search{
    margin: 10px;
}
.srch{width: 80%;
    height: 25px;}
.SearchBar{width: 50%;}
.btn{padding: 5px;
    margin: 0 10px;}
.search{display: flex; justify-content: space-between;}
.card-container:hover{
    border: 1px solid black;
    cursor: pointer;
}
.df{display: flex;}
.card-container{
    width: 200px;
    padding: 5px;
    background-color: #f0f0f0;
    margin: 10px;
}
.vegN{justify-content: space-between;
    margin-right: 20px;
}
.button{
    margin: 5px;
}
.mt5{
    margin-top: 5px;
}
.mb10{margin-bottom: 10px;}
.res-Image{
    width: 100%;
}
.card-header{
    display: flex;
    flex-wrap: wrap;
}
.login{padding: 0 5px;}
.headline{text-transform: uppercase;letter-spacing: 5px; font-size: 30px;}